---
import Layout from "../layouts/Layout.astro";

import Intro from "../components/intro.astro";
import AboutUs from "../components/AboutUs";
import Menu from "../components/Menu";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
//TODO fix the curves
---

<Layout title="Resto">
	<div class="relative h-fit">
		<Intro />
	</div>
	<div class=""></div>

	<AboutUs client:visible />

	<Menu client:only />

	<Contact client:visible />

	<Footer />

	<style is:global>
		.curve {
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 1;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-image: url("/images/first-wave.svg");
		}
	</style>
</Layout>
