---
import FullMenu from "../components/FullMenu";
import Navbar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="menu">
    <div class="bg-[#171717]">
        <Navbar client:visible />
        <FullMenu client:only />
    </div>
</Layout>
