---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import MyOrders from "../components/MyOrders";
---

<Layout title="my orders page">
    <div class="bg-[#121212] px-3">
        <Navbar client:visible />
        <MyOrders client:only />
    </div>
</Layout>
