---
import Navbar from "./Navbar";
import IntroSection from "./Intro";
---

<div class="h-[100vh] bg-[url('/images/bg-img.jpg')]">
    <Navbar client:only />
    <IntroSection client:visible />
</div>
