---
import Navbar from "./Navbar";
import IntroSection from "./Intro";
---

<div class="intro">
    <div class="curve"></div>
    <Navbar client:only />
    <IntroSection client:visible />
</div>
<style scoped>
    .intro {
        position: relative;
        height: 100vh;
        background-image: url("/images/bg-img.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .curve {
        position: absolute;
        top: 0%;
        width: 100%;
        z-index: 0;
        aspect-ratio: 960/540;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("/images/first-wave.svg");
        z-index: 1;
    }
</style>
